<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <!--Шрифты-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Story+Script&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/main.css">
</head>
<body>
  <h1>Привет, {{ data["name"] }}!</h1>
  <div class="settings">
    <form action="/plugin" method="post"> <!--Плагины-->
      <p>Plugin</p>
      <p>Выберите плагин для редактирования</p>
      <select name="plugin">
        <option selected>Не выбрано</option>
        {% for plugin in plugins %}
             <option value="{{ plugin }}" {% if active_plugin_name == plugin %} selected {% endif %}>{{ plugin }}</option>
        {% endfor %}
      </select>
      <p class="help">Действие</p>
      <select name="plugin_do">
        <option value="open" {% if active_plugin and plugins[active_plugin_name]["do"] == "open" %} selected {% endif %} >Открыть</option>
        <option value="key"  {% if active_plugin and plugins[active_plugin_name]["do"] == "key" %} selected {% endif %}>Клавиши</option>
      </select>
      <input type="text" name="plugin_name" placeholder="Название плагина" {% if active_plugin_name %} value={{ active_plugin_name }} {% endif %}>
      <textarea name="plugin_args" placeholder="Данные">{% if active_plugin %}{{ plugins[active_plugin_name]["data"] }}{% endif %}</textarea>
      <button  name="action" value="plugin_save" class="save">Сохранить</button>
      <button name="action" value="plugin_delete" class="delete">Удалить</button>
    </form>
  
    <form action="/command" method="post"> <!--Команды-->
      <p>Command</p>
      <p>Выберите команду для редактирования</p>
      <select name="command">
            <option selected>Не выбрано</option>
            {% for command in commands %}
             <option value="{{ command }}" {% if active_command_name == command %} selected {% endif %}>{{ command }}</option>
            {% endfor %}
      </select>
      <input type="text" name="command_name" placeholder= "Название команды" {% if active_command %} value={{ active_command_name }} {% endif %}>
      <input type="text" name="command_act" placeholder="Фразы (через ,)" {% if active_command %}  value={{ ",".join(active_command["act_phrase"]) }} {% endif %}>
      <p class="help">Плагины (привязка под эту команду)</p>
      <select name="plugin_for_command" multiple>
            {% for plugin in plugins %}
             <option value="{{ plugin }}" {% if active_command and plugin in active_command["plugin"] %} selected {% endif %}>{{ plugin }}</option>
            {% endfor %}
      </select>
      
      <p class="help">Ответ на команду</p>
      <select name="answer_for_command">
            <option value="random" selected>Положительный</option>
            {% for answer in sounds %}
             <option value="{{ answer }}" {% if active_command and answer in active_command["answer"] %} selected {% endif %}>{{ answer }}</option>
            {% endfor %}
      </select>
 
      <button name="action" value="command_save" class="save">Сохранить</button>
      <button name="action" value="command_delete" class="delete">Удалить</button>
    </form>
    <p class="help">QM - тихий режим, NM - слово "Джарвис" перед командой, Logs - логи</p>
    <form action="/config" method="post" class="config">
      <div class="config_pos">
       <input type="checkbox" name="qm" {% if data["qm"] %} checked {% endif %}>
       <label for="qm">QM</label>
       <input type="checkbox" name="nm" {% if data["nm"] %} checked {% endif %}>
       <label for="nm">NM</label>
       <input type="checkbox" name="logs" {% if data["logs"] %} checked {% endif %}>
       <label for="logs">Logs</label>
      </div>
      <button name="action" value="command_save" class="save">Сохранить</button>
    </form>
  </div>
</body>
</html>